a {
  text-decoration: none;
  color: skyblue;
}

li {
  color: skyblue;
}

body{
  margin-left:20px;
}

@media(min-width:800px) {
  #active {
    border-right: 2px pink solid;
    width: 230px;
  }
  #grid{
    display:grid;
    grid-template-columns: 230px 1fr;
  }
  #act{
    padding-left: 20px;
    padding-top: 6px;
  }
}
